<% if signed_in?	  %>
    <div class="container">


    </div>

<%	 else %>


    <div class="img-responsive" style="margin-top: -150px; position: fixed; ">
      <%= image_tag "https://s3.amazonaws.com/quickplace/images/quickplace.jpg", style: "width: 100%; min-height: 100%" %>
    </div>


    <div class="container">
      <div class="col-md-8 col-md-offset-2" style="margin-top: 20%; text-align: center" >
        <h1 style="vertical-align: middle; color: #ffffff">  Welcome to QuickPlace </h1>

        <p></p>
        <hr/>
        <div style="text-align: center">
        <i class="icon-facebook-sign"></i>  <%= link_to "Ingresa con Facebook", user_omniauth_authorize_path(:facebook), class: " btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>

<%	 end %>