// Place all the styles related to the micrositios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//CONTENDEDOR TITUILO

.micrositiophotos{
    width: 350px;
    height: 350px;
    border-radius: 6px;
}

.micrositiopostphotos{
  width: 100px;
  height: auto;
  border-radius: 6px;
}

// MICROSITIO COMMENTS

.comentariosfbmicrositio{
  float: left;
  width: 400px;
  padding-left: 10px;
}

